<h1>them</h1>
<form action="/add" method="post">
    malophoc: <input type="number" name="malophoc"value="<%= lop.malophoc %>"><br>
    tenlop: <input type="text" name="tenlop"><br>
    soluongsv: <input type="number" name="soluongsv"><br>
    magiangvien: <input type="number" name="magiangvien"><br>
    <button type="submit">add</button>
</form>