<h1>them</h1>
<form action="/update" method="post">
    malophoc: <input type="number" name="malophoc" value="<%= lop.malophoc %>"><br>
    tenlop: <input type="text" name="tenlop" value="<%= lop.tenlop %>"><br>
    soluongsv: <input type="number" name="soluongsv" value="<%= lop.soluongsv %>"><br>
    magiangvien: <input type="number" name="magiangvien" value="<%= lop.magiangvien %>"><br>
    <button type="submit">updata</button>
</form>